
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.row .logo {
  align-self: center;
  text-align: center;
  width: 10vw;
  height: auto;
  padding-left: 25%;
}

.logo img {
  height: 70px;
  width: 10vw;
  display: flex;
  justify-content: flex-start;
  mix-blend-mode: multiply;
}


.a-link {
  color: #272a31;
  text-decoration: none;
}

.a-link:active {
  color: #ec5242;
}

.a-link:hover {
  color: #ec5242;
}

.a-link:focus {
  color: #ec5242;
}

.link-red {
  border: 2px solid #ec5242;
  padding: 1rem;
}
.desktop-h  a {
  color: black;
}

.main-content h1,h3 {
  font-size: 60px;
  font-weight: 500px;
  color:  #b93422af;
}

.welcome {
   max-width: 80%;
  margin-top: 10em;
  margin-left: 10vw;
}

.description {
  border: 1px solid whitesmoke;
  max-width: 700px;
  padding: 2%;
  margin-top: 2%;
}

.description-about {
   border: 1px solid whitesmoke;
  max-width: 100%;
  padding: 0.5rem;
  font-family: sans-serif,'Lato';

}


.program  {
  background-color: #272131f8;
  background-image: url('images/bg_mobile_program.png');
}

.program h4 {
   margin-bottom: 30px;
}


 .program .card {
  position: relative;
  padding: 16px 0;
  height: auto;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: grid;
  margin: 5px 8px;
}

.card:hover {
  border: 2px solid #fff;
}

.program .icon {
  font-size: 2rem;
  color: white;
  margin-bottom: 0.7rem;
}

.card h5 {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

.card p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.card li {
  color: #fff;
}

.horizontal-line {
    content: "";
  width: 5rem;
  margin: 0 auto;
  background: #ec5242;
  height: 0.14rem;
  display: block;
}
  .partner {
  background-color: #424347;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.partner h4 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.company-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.company-logo img {
  width: 60%;
  height: auto;
  mix-blend-mode: multiply;
}


/*.p-img {
  position: relative;
  width: 80%;
}

.p-img img {
  width: 100%;
  height: 100%;
}
.p-img:hover {
  background-color: #ec5242;
}
*/
.past-events{
   text-align: center;
  width: 100%;
  margin: 0;
  padding-top: 40px;

}
.past-events button {
  font-family: 'Lato', sans-serif;
  width: 90%;
  height: 200px;
  margin-bottom: 5%;
}

.button2021 {
  background-image: url(images/conference.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 27px;
  font-weight: 600;
}

.button2020 {
  background-image: url(images/conference2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 27px;
  font-weight: 600;
}

.past-events button:hover {
  filter: grayscale(100%);
}

/*dynamic */
#featured-speakers {
  margin: 10% 0 10%;
  display: flex;
  flex-direction: column;
}

.containers {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 900px;
}

.featured-speakers__head h2 {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-align: center;
}

.speaker {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.speakers__img {
  position: relative;
}

.speakers__img img {
  width: 130px;
  height: 130px;
  margin: 12px 20px 0 12px;
}



.speakers__img::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
  background: url('images/SpeakerBackground.png');
  opacity: 0.7;
  border: 1px solid black;
}

.speakers-about hr {
  width: 30px;
  color: #d3d3d3;
  margin: 6px 0 10px;
}

.toggle {
  display: none;
}

.speakers-about h3 {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  font-weight: 800;
}

.speakers-about h4 {
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-style: italic;
  font-weight: 400;
}

#more {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  font-size: 1.9rem;
  font-family: 'Lato', sans-serif;
}

#more i {
  color: #272a31;
  font-size: 1rem;
  padding-left: 5px;
}


@media (max-width:768px){
.humburger {
  height: 35%;
  width: 35%;
  padding: 15px;
  cursor: pointer;
}

  .main{
    background-image: url('images/bg_mobile_main.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-flow: column;
    padding: 0% 5% 15% 5%;
  }

   .display-title {
    font-size: 1rem;
  }

  .h3-hello {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .display-paragraph {
    font-size: 0.5rem;
  }

  .display-h2 {
    font-size: 1rem;
    font-weight: 700;
  }

  .display-h5 {
    font-size: 1rem;
    font-weight: 500;
  }

.mobile-menu {
  display: flex;
  flex-flow: column;
  background-color: #6b6766af;
  height: 80vh;
  width: 90%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 70px;
}
.mobile-menu a {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  text-decoration: none;
   margin: 20px 30px;
}

.mobile-menu a:hover {
  color: aqua;
}

.menu-cancel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
}
.cancel {
  height: 30px;
  width: 30px;
  margin-top: 20px;
  color: #fff;
   background-color: #424347;
}
#hide {
  display: none;
}

  .icon {
    font-size: 1.5rem;
  } 

footer {
  position: relative;
  width: 100%;
}

.footer-about {
   background: #272a31;
  color: #d3d3d3;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.logo-2 img {
  width:40vw;
  height: 70px;
  display: flex;
  align-items: center;
}
}

@media (min-width:768px){
  .mobile-nav-inner {
    display: none;
  }

  /*.main {
    background-image: url('images/bg_desktop_main.png');
      background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    padding: 0% 5% 15% 5%;
    margin-top: 100px;
    background-position: center;
  }*/
 
.main {
  width: 100%;
  background-image: url('images/bg_desktop_main.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
   padding: 0% 5% 0% 5%;
}

.buttons-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .logo-2 img {
  width:30vw;
  height: 80px;
  display: flex;
  align-items: center;
}

  .buttons-container button {
    width: 40%;
    height: 300px;
    margin: 15px;
  }

.footer-about{
  background: #272a31;
}

.footer-about {
  color: #d3d3d3;
  font-size: 1.3rem;
  text-transform: capitalize;
}

  #featured-speakers {
    margin: 7% 0 8%;
  }

  #featured-speakers .container-fluid {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 60px 90px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }

  .featured-speakers__head {
    flex-basis: 100%;
  }

  .speaker {
    flex: 1 1 400px;
  }

  .speakers__img img {
    width: 150px;
    height: 150px;
    margin: 12px 20px 0 12px;
  }

  .speakers-about p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .toggle {
    display: flex;
  }

  #more {
    display: none;
  }
}

